body
{
	background-color: #eeefef;
}

.action_buttons
{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #5b6e83;
}

.search_form
{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #eeefef;	
}
.submenu
{
	padding-top: 5px;
	background-color: #7f9ab3;
	color: #fff;	
}
.abm_form
{
	padding: 10px;
	background-color: #dde5e9;	
}
.sub-item
{
	color: #FFF;
}




.dialog-message-ok .ui-widget-header
{
	background-color: #5cb85c;
}

.dialog-message-error .ui-widget-header
{
	background-color: #d9534f;
}
