body
{
	background-color: #eeefef;
}

.action_buttons
{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #5b6e83;
}

.search_form
{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #eeefef;	
}
.submenu
{
	padding-top: 5px;
	padding-bottom: 2px;
	background-color: #7f9ab3;
	color: #fff;	
}
.abm_form
{
	padding: 10px;
	background-color: #dde5e9;	
}
.sub-item
{
	color: #FFF;
}


/*------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------
//			Mensaje de form
//------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------*/ 



.dialog-message-ok .ui-widget-header
{
	background-color: #5cb85c;
}

.dialog-message-error .ui-widget-header
{
	background-color: #d9534f;
}

  
/*------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------
//			Validación de formularios
//------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------*/ 
  

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
