/*
 Classy yet somehow fancy
 table style created by Radu Bilei
 for Chris Heilmann's CSS Table Gallery
 http://twitter.com/radubilei
 http://icant.co.uk/csstablegallery
 */
.report table, .report th, .report td {
    border: none;
    border-collapse: collapse;
    font-family: corbel, 'helvetica neue', 'trebuchet ms', arial, helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em
}

.report table {
    background: black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3)
}

.report caption {
    text-align: left;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: bold;
    padding: 1.5em 0;
    color: black
}

.report thead, .report tfoot {
    color: white;
}

.report thead th {
    padding: 0.5em 1em;
    text-transform: uppercase;
    text-align: left;
}

.report thead th:first-child {
    width: 10em;
    text-align: right;
}

.report tbody td, .report tbody th {
    font-size: 100%;
    padding: 0.5em 1em;
    background-color: #e5e5e5;
    vertical-align: top
}

.report tbody th {
    color: #222;
    text-align: right;
    background-image: url(../images/tabel.png);
    background-repeat: repeat-y;
    border-right: 1px solid #ccc
}

.report tbody td:last-child {
    border-right: 1px solid black
}

.report tbody tr.odd th, .report tbody tr.odd td {
    background-color: #eee;
    color: #222
}

.report tfoot td, .report tfoot th {
    border: none;
    padding: 0.5em 1em 2em;
    font-size: 130%
}

.report tfoot th {
    text-align: right
}

.report table a:link {
    line-height: 1em;
    color: black;
    display: inline-block;
    padding: 3px 7px;
    margin: -3px -7px
}

.report table a:visited {
    color: #555
}

.report table a:hover {
    text-decoration: none;
    background: black;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}::-moz-selection {
    background: #202020;
    color: white
}::selection {
    background: #202020;
    color: white
}

.report thead ::-moz-selection, .report tfoot ::-moz-selection {
    background: white;
    color: #202020
}

thead ::selection, tfoot ::selection {
    .report background: white;
    color: #202020
}