/* Put this inside a @media qualifier so Netscape 4 ignores it */ @media screen, print {
    /* Turn off list bullets */
ul.mktree li {
        list-style: none;
}

ul.mktree {
        margin: 0px;
        margin-left: -10px !important;
        margin-top: 3px;
}

    /* Control how "spaced out" the tree is */
ul.mktree, ul.mktree ul, ul.mktree li {
        margin-left: 10px;
        padding: 0px;
        white-space: nowrap
}

    /* Provide space for our own "bullet" inside the LI */
ul.mktree li .bullet {
        padding-left: 15px;
}

    /* Show "bullets" in the links, depending on the class of the LI that the link's in */
ul.mktree li.liOpen .bullet {
        cursor: pointer;
        background: url('../../../images/fugue/minus.gif') center left no-repeat;
}

ul.mktree li.liClosed .bullet {
        cursor: pointer;
        background: url('../../../images/fugue/plus.gif') center left no-repeat;
}

ul.mktree li.liBullet .bullet {
        cursor: default;
        background: url('../../../app/bullet_black.png') center left no-repeat;
}

    /* Sublists are visible or not based on class of parent LI */
ul.mktree li.liOpen ul {
        display: block;
        border-left: 1px solid #f5f5f5;
        border-top: 1px solid #f5f5f5;
}

ul.mktree li.liClosed ul {
        display: none;
}

ul.mktree li {
        line-height: 16px
}

    /* Format menu items differently depending on what level of the tree they are in */
    /* Uncomment this if you want your fonts to decrease in size the deeper they are in the tree */
    /*
     ul.mktree  li ul li { font-size: 90% }
     */
}

body {
    margin: 0;
    padding: 4px
}

#header {
    border: 1px solid #C0C0C0;
    display: block;
    height: 85px;
    margin-bottom: 4px;
    width: 100%;
}

#header a {
    padding: 0px;
}

#header #logo {
    float: left;
    margin: 2px;
}

#header h1 {
    float: left;
    margin: 15px 0px 0px 10px;
    font: 28px Verdana;
    font-weight: bold;
}

#header #notes {
    float: left;
    font: 10px Arial;
    margin: 8px 0px 0px;
    padding-left: 80px;
    width: 400px;
}

#header #links {
    float: left;
    width: 100%;
    background-color: #f0f0f0;
    /*margin-top:4px;*/
    border-top: 1px solid #c0c0c0;
}

#header #links ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#header #links li {
    float: left;
}

#header #links li a {
    display: block;
    height: 16px;
    padding: 2px 2px 2px 16px;
    margin-left: 4px;
    background-image: url(../images/bullet_orange.png);
    _background-image: url(../images/bullet_orange.gif);
    background-repeat: no-repeat;
    background-position: left center;
    white-space: nowrap;
    /* ie6 shizzle*/
    _width: 50px;
}

#header #links li a:hover {
    /*text-decoration: underline;*/
    background-color: #CCCCCC;
}

#treecontainer {
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    min-height: 350px;
    max-height: 500px;
    overflow: auto;
    margin-right: 4px;
}

#treecontainer div, a {
    color: #000000;
    font: 12px Arial;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

#treecontainer .au {
    background-color: #ffffff;
    color: #000000
}
 /* A tag unselected*/
#treecontainer .as {
    background-color: #0a246a;
    color: #ffffff
}
 /* A tag selected*/
#tabcontainer {
    float: left;
}

#tabcontainer #console {
    float: left;
    margin-top: 4px;
    border: 1px solid #ccc;
    width: 498px;
    display: none;
}

#tabcontainer #console #log {
    color: #FF0000;
    font: 12px Arial;
    padding: 2px;
}

#tabcontainer #console #bar {
    background-image: url(../images/cross.png);
    _background-image: url(../images/cross.gif);
    background-position: right;
    background-repeat: no-repeat;
    font: 12px Arial;
    padding: 2px;
    background-color: #F0F0F0;
}

#tabcontainer #console #bar a {
    display: block
}

#tabcontainer .noshow {
    display: none
}

#tabcontainer .show {
    display: block
}

div.tablayout {
    width: 500px;
    margin: 0 0 0px 0;
}

div.nested {
    width: 480px;
    margin: 0 0 0px 0;
}

ul.tablayout {
    list-style-type: none;
    width: 100%;
    float: left;
    background: url(../images/pixel.gif) bottom left repeat-x;
    margin: 0pt;
    padding: 0pt;
    font: 12px Arial, Verdana
}

ul.tablayout li {
    margin: 0 2px 0 0;
    float: left;
}

ul.tablayout a {
    float: left;
    display: block;
    padding: 2px 8px;
    border: 1px solid #ccc;
    border-bottom: 0;
    color: #666;
    background: #eee;
    text-decoration: none;
    font-weight: bold;
    outline: 0;
}

ul.tablayout a:hover {
    background: #fff;
}

ul.tablayout a.active {
    background: #fff;
    padding-bottom: 3px;
    cursor: default;
    color: red;
}

#tab-container-2-nav a {
    padding: 0px 8px;
    background-color: #CCCCCC;
}

#tab-container-2-nav a.active {
    background-color: #f0f0f0;
}

#tab-container-2-nav li {
}

.xmlchoice {
    height: 24px;
    text-align: left !important;
}

.xmlchoice input {
    margin-top: 0px;
    vertical-align: middle;
}

.tab {
    clear: left;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 8px 8px 0 8px;
}

.tab {
    font: 12px Arial;
}

.tabn {
    clear: left;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 8px 8px 0 8px;
    margin-bottom: 8px;
    background-color: #f0f0f0;
}

.tabn {
    font: 12px Arial;
}

.tab h2 {
    margin: 0 0 20px 0;
}

.tab .button {
    border: 1px solid white;
    float: left;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.tabn .button {
    border: 1px solid #f0f0f0;
    float: left;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.tab .button:hover {
    border: 1px outset;
}

.buttondown {
    border: 1px inset !important
}

.tab #refresh {
    background-image: url(../images/table_refresh.png);
    _background-image: url(../images/table_refresh.gif);
}

.tab
#add {
    display: none;
    background-image: url(../images/add2.png);
}

.tab #delete {
    background-image: url(../images/delete.png);
    _background-image: url(../images/delete.gif);
}

.tab textarea {
    /*border: 1px solid;*/
    width: 99%;
    font: 10px monospace;
}

.tab select {
    font: 12px arial;
}

.tab .icanhastable td {
    text-align: right;
}

.tab .icanhastable {
    border: 0px;
    width: 100%;
    padding-bottom: 6px;
}

.tab .icanhastable td #autodetect {
    vertical-align: middle;
}

#tab2 #jsonpath {
    text-align: left;
    margin-left: 4px;
    font: 10px Arial;
    letter-spacing: 1px;
}

#tab3 .icanhastable td {
    text-align: left;
}

#tab3 .icanhastable #results {
    border: 1px solid #CCCCCC;
    max-height: 432px;
    overflow: auto;
}

#tab3 .icanhastable #results table td {
    background-color: #ffffcc;
}

#tab3 .icanhastable #results table td a {
    color: #0000cc;
}

#tab3 .icanhastable #results table td a:hover {
    text-decoration: underline;
}

#tab3 .icanhastable #results table .path {
    font-size: 10px;
}