<config>
	<group>
		<name>General</name>
		<var>
			<name>bp.application.name</name>
			<type>text</type>
		</var>
	</group>
	<group>
		<name>Catálogo</name>
		<icon>iconoCatalogoTab</icon>
		<var>
			<name>catalogo.buscar.showportada</name>
			<profile>user</profile>
			<type>bool</type>
		</var>
		<var>
			<name>bp.articulos.busquedas.items</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.articulo.diaspromocion</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.promocion.web</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.application.tabscrollmenu</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.application.tabclosemenu</name>
			<type>text</type>
		</var>
	</group>
	<group>
		<name>Compras</name>
		<icon>iconoComprasTab</icon>
		<var>
			<name>bp.pedidoproveedor.secciones.defecto</name>
			<profile>terminal,user</profile>
			<type>text</type>
		</var>
		<var>
			<name>bp.pedidoproveedor.secciones.vedadas</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.devolucion.secciones.defecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.devolucion.secciones.vedadas</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.ventas.margenminimo</name>
			<type>float</type>
		</var>
		<var>
			<name>bp.compras.direcciones</name>
			<type>int</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.compras.direcciones.default</name>
			<type>int</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.albaranentrada.concurso.default</name>
			<type>int</type>
			<profile>terminal,user</profile>
		</var>
	</group>
	<group>
		<name>Formatos</name>
		<name>iconoFormatos</name>	
		<var>
			<name>bp.divisa.simbolo</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.divisa.default</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.currency.decimals</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.currency.dec_points</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.currency.thousands_sep</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.currency.symbol_left</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.currency.symbol_right</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.date.formatlong</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.date.format</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.date.formattime</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.date.startday</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.address.pais</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.address.region</name>
			<type>text</type>
		</var>
	</group>
	<group>
		<name>Ventas</name>
		<icon>iconoVentasTab</icon>
		<var>
			<name>bp.tpv.caja</name>
			<type>combo</type>
			<values>ventas.caja.search</values>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.tpv.serie</name>
			<type>combo</type>
			<values>ventas.serie.search</values>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.factura.secciones.defecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.factura.secciones.vedadas</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.albaransalida.secciones.defecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.albaransalida.secciones.vedadas</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.pedidocliente.secciones.defecto</name>
			<profile>terminal,user</profile>
			<type>text</type>
		</var>
		<var>
			<name>bp.pedidocliente.secciones.vedadas</name>
			<profile>terminal,user</profile>
			<type>text</type>
		</var>
		<var>
			<name>bp.importar_pedido.default</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.factura.ticket.print</name>
			<type>bool</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.factura.ticket.nuevo</name>
			<type>bool</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>ventas.pedidocliente.actualizar</name>
			<profile>user</profile>
			<type>bool</type>
		</var>
		<var>
			<name>bp.abono.formatodefecto</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.docs.ceros</name>
			<type>int</type>
		</var>
		<var>
			<name>ventas.tpv.aplicardescuento</name>
			<type>bool</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>ventas.tpv.descuento</name>
			<type>float</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.cache.tpv</name>
			<type>bool</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.factura.ticket</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.factura.ticket.factura</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.factura.ticket.regalo</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
	</group>
	<group>
		<name>Concursos</name>	
		<icon>iconoConcursosExtraTab</icon>
		<var>
			<name>bp.concursos.direccionenviodefecto</name>
			<type>int</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.concursos.secciondefecto</name>
			<type>int</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.concursos.concursodefecto</name>
			<type>int</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.concursos.referenciadefecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.concursos.notadefecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.concursos.mover.secciondefecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.concursos.mover.bibliotecadefecto</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
	</group>
	<group>
		<name>Impresoras</name>	
		<icon>icon-print</icon>
		<var>
			<name>bp.printerserver.host</name>
			<type>text</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.printerserver.port</name>
			<type>text</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.drawerserver.host</name>
			<type>text</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.drawerserver.port</name>
			<type>text</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.labelserver.host</name>
			<type>text</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>bp.labelserver.port</name>
			<type>text</type>
			<profile>terminal</profile>
		</var>
		<var>
			<name>compras.etiquetas.grupos</name>
			<type>text</type>
		</var>
	</group>
	<group>
		<name>Email</name>
		<icon>icon-email</icon>
		<var>
			<name>bp.email.fromname</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.email.from</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.email.pass</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.email.user</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.email.auth</name>
			<type>bool</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.email.protocol</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.email.host</name>
			<type>text</type>
			<profile>terminal,user</profile>
		</var>
	</group>
	<group>
		<name>Contabilidad</name>
		<icon>iconoContabilidadTab</icon>
		<var>
			<name>bp.contabilidad.cc.cliente</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.contabilidad.cc.ventas</name>
			<type>text</type>
		</var>
	</group>
	<group>
		<name>Aspecto</name>
		<icon>iconoSelectTemasTab</icon>
		<var>
			<name>bp.application.timeout</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.data.limit</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.data.search.limit</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.application.stayalive</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.portal.portlets.facturasrefresh</name>
			<type>bool</type>
		</var>
		<var>
			<name>bp.application.fly.align</name>
			<type>list</type>
		</var>
		<var>
			<name>bp.application.fly</name>
			<type>int</type>
		</var>
		<var>
			<name>bp.application.menustyle</name>
			<type>list</type>
			<values>menubar|treebar|taskbar</values>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.application.help</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.application.msgtarget</name>
			<type>text</type>
		</var>
		<var>
			<name>reports.language</name>
			<type>text</type>
		</var>
		<var>
			<name>reports.preview</name>
			<type>bool</type>
			<profile>terminal,user</profile>
		</var>
		<var>
			<name>bp.grid.facturacion.hide</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.grid.tpv.hide</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.grid.albaransalida.hide</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.grid.pedidocliente.hide</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.grid.pedidoproveedor.hide</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.grid.albaranentrada.hide</name>
			<type>text</type>
		</var>
		<var>
			<name>bp.grid.devolucion.hide</name>
			<type>text</type>
		</var>
	</group>
</config>
